amqp==5.0.2
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
future==0.18.2
idna==3.1
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
kombu==5.0.2
MarkupSafe==1.1.1
flask_pymongo==2.3.0
pymongo==3.11.2
pytz==2020.5
requests==2.25.1
urllib3==1.26.2
vine==5.0.0
Werkzeug==1.0.1
zipp==3.4.0
splinter==0.14.0
pandas==1.2.0
numpy==1.19.4
requests==2.25.1
lxml==4.6.2
beautifulsoup4==4.9.3
