<!DOCTYPE html>
<html lang="en">
  <!-- Seo -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--
        The above 2 meta tags *must* come first in the <head>
        to consistently ensure proper document rendering.
        Any other head element should come *after* these tags.
      -->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Title -->
    <title>Mission to Mars</title>

    <!-- Short description of the document (limit to 150 characters) -->
    <!-- This content *may* be used as a part of search engine results. -->
    <meta name="description" content="Awesome pictures of Mars" />
    <meta name="mission-to-mars" content="Mission to Mars" />
    <meta name="theme-color" content="#211a23" />

    <!-- Verify website ownership -->
    <meta name="google-site-verification" content="verification_token" />
    <!-- Google Search Console -->
    <meta name="msvalidate.01" content="verification_token" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />

    <link rel="manifest" href="/static/favicon/site.webmanifest" />

    <!-- Facebook -->
    <meta property="fb:app_id" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mission to Mars" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="Image of Mars" />
    <meta property="og:description" content="Awesome pictures of Mars" />
    <meta property="og:site_name" content="Mission to Mars" />
    <meta property="og:locale" content="en_US" />
    <meta
      property="article:author"
      content="https://www.facebook.com/JOVANIPINK"
    />

    <!-- Twitter -->
    <meta name="twitter:card" content="Awesome pictures of Mars" />
    <meta name="twitter:creator" content="@JovaniPink" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="Mission to Mars" />
    <meta name="twitter:description" content="Awesome pictures of Mars" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:alt" content="Image of Mars" />

    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <!-- CONTENT
    ================================================== -->
    <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div
          class="row align-items-center justify-content-center no-gutters min-vh-100"
        >
          <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <!-- Heading -->
            <h1 class="display-3 font-weight-bold text-center">Uh Oh.</h1>

            <!-- Text -->
            <p class="mb-5 text-center text-muted">
              We ran into an issue, but don’t worry, we’ll take care of it for
              sure.
            </p>

            <!-- Link -->
            <div class="text-center">
              <a class="btn btn-primary" href="/"> Back to safety </a>
            </div>
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
